@font-face {
    font-family: fontAwesome;
    src: url(fontawesome-webfont.ttf);
}

@font-face {
    font-family: UbuntuLight;
    src: url(Ubuntu-L.ttf);
}

@font-face {
    font-family: UbuntuBold;
    src: url(Ubuntu-B.ttf);
}

@font-face {
    font-family: Monsterrat-Bold;
    src: url(Montserrat-Bold.ttf);
}

@font-face {
    font-family: Monsterrat-Light;
    src: url(Montserrat-Light.otf);
}

body{
    margin: 0px;
    padding: 0px;
    background-color: #fff;
    font-size: 14px;
    text-align: center;
    font-family: UbuntuLight, arial, helvetica, sans-serif;
}

a:link, a:visited{color: #0382b8;}
a:hover{color: #015a7f;}

h1 {
    font-family: Monsterrat-Light, arial, helvetica, sans-serif;
    font-size: 2.5em;
    font-weight: normal;
    margin: 0px 0px 25px 0px;
    padding: 0px 0px 25px 0px;
    background-image: url("../images/h1_back.png");
    background-repeat: no-repeat;
    background-position: 0px bottom;
}

h1 a{text-decoration: none;}

#site_logo{
    position: relative;
    top: 5px;
    width: 241px;
    height: 141px;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    cursor: pointer;
}

#student_login{
    position: absolute;
    top: 70px;
    right: 300px;
    border: 2px solid #f0f0f0;
    border-radius: 25px;
    height: 40px;
    width: 150px;
    line-height: 40px;
    font-size: 1.1em;
    cursor: pointer;
}

#site_phone{
    position: absolute;
    right: 0px;
    top: 70px;
    height: 40px;
    font-size: 1.4em;
    line-height: 1em;
    background-image: url("../images/phone.png");
    background-repeat: no-repeat;
    background-position: 10px 50%;
    text-align: left;
    padding: 0px 0px 0px 55px;
}

#head_wrapper{
    position: relative;
    width: 100%;
    height: 175px;
}

#site_bleed{
    position: relative;
    width: 100%;
}

#site_contain{
    position: relative;
    width: 1178px;
    margin: 0px auto 0px auto;
}

#headBack_l{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 408px;
    height: 177px;
    z-index: -1;
    background-image: url("../images/0head_l.jpg");
}

#headBack_r{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 445px;
    height: 200px;
    z-index: -2;
    background-image: url("../images/0head_r.jpg");
}

#headBack_r{}

#nav_wrapper{
    position: relative;
    width: 100%;
    height: 80px;
    background-color: #0381b7;
    background-image: url("../images/0nav.jpg");
}

#navMenu{position: relative;height: 80px;}

.nav-menu{
    list-style-type: none;
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

.nav-menu a:link, .nav-menu a:visited {
    color: #fff;
    font-family: UbuntuBold, arial, helvetica, sans-serif;
    text-decoration: none;
    font-size: 1.1em;
}

.nav-menu a:hover{
    color: #94cd17;
}

.nav-menu li {
    float: left;
    margin: 0px 20px 0px 20px;
    padding: 25px 0px 0px 25px;
    text-align: left;
    background-image: url("../images/navtab.jpg");
    background-repeat: no-repeat;
    background-position: 0px 25px;
}

.small_nav{
    font-size: .8em;
    font-family: UbuntuLight, arial, helvetica, sans-serif;
    color: #81c1dc;
}

#footer_menu{
    position: absolute;
    bottom: 15px;
    right: 0px;
}

.footer-menu{
    list-style-type: none;
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

.footer-menu a:link, .footer-menu a:visited {
    color: #000;
    font-family: UbuntuBold, arial, helvetica, sans-serif;
    text-decoration: none;
    font-size: .95em;
}

.footer-menu a:hover{
    color: #999;
}

.footer-menu li {
    float: left;
    margin: 0px 10px 0px 10px;
    padding: 25px 0px 0px 25px;
    text-align: left;
}

#hero_section{
    background-color: #eaeaea;
    position: relative;
    width: 100%;
}

#hero_section #hero{
    position: absolute;
    bottom: 0px;
    right: 350px;
    width: 440px;
    height: 384px;
    background-image: url("../images/hero1.png");
    background-repeat: no-repeat;
    z-index: 1;
}

#hero_section #site_contain{
    height: 345px;
}

#sublink_section{
    background-color: #eaeaea;
    position: relative;
    width: 100%;
}

#subLinkSection{
    position: relative;
    width: 100%;
    height: 40px;
    border-bottom: 2px solid #dedede;
}

#subLink{
    position: relative;
    float: left;
    height: 40px;
    line-height: 40px;
    margin-right: 30px;
    text-decoration: underline;
    cursor: pointer;
    z-index: 2;
    font-size: .8em;
}

.catalog, .schedule, .apply, .campus{
    padding-left: 35px;
    background-repeat: no-repeat;
    background-position: 0px 10px;
}

.catalog{
    background-image: url("../images/i_catalog.png");
}
.schedule{
    background-image: url("../images/i_schedule.png");
}
.apply{
    background-image: url("../images/i_apply.png");
}
.campus{
    background-image: url("../images/i_usa.png");
}

#form_section{
    position: absolute;
    z-index: 200;
    width: 456px;
    height: 467px;
    top: 80px;
    right: -30px;
    background-image: url("../images/0form.png");
    background-repeat: no-repeat;
}

#form_container{
    padding: 10px 75px 0px 75px;
}

#formText{
    color: white;
    margin: 0px 0px 15px 0px;
    font-size: 1.2em;
}
.joe_bare_form_title{
    color: white;
    font-family: UbuntuBold, arial, helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 1.4em;
}

#home_content{
    position: absolute;
    top: 50px;
    left: 0px;
    width: 400px;
    height: 250px;
    text-align: left;
    z-index: 0;
    font-family: Monsterrat-Light, arial, helvetica, sans-serif;
    font-size: 1.1em;
    line-height: 1.4em;
    color: #949494;
}

#home_content h1{
    font-family: Monsterrat-Bold, UbuntuBold, arial, helvetica, sans-serif;
    font-size: 1.2em;
    line-height: 1.2em;
    margin: 0px 0px 20px 0px;
    font-weight: normal;
    color: #000;
    background-image: url();
}

#hero_section #discover_button{
    position: absolute;
    top: 250px;
    left: 0px;
    color: #000;
    border: 2px solid #94cd17;
    padding: 15px;
    width: 150px;
    border-radius: 25px;
    cursor: pointer;
    z-index: 20;
}

.standard_button{
    padding: 15px;
    border: 2px solid #f0f0f0;
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
}

#program_section{
    position: relative;
    padding: 50px 0px 20px 0px;
}

#program_section #site_contain{
    text-align: left;
}

#pgrm_section{
    position: relative;
    width: 70%;
    text-align: left;
    overflow: auto;
}

.prgms{
    text-decoration: underline;
    cursor: pointer;
    float: left;
    width: 220px;
    margin: 0px;
    padding: 0px 40px 20px 0px;
    white-space: nowrap;
    color: #949494;
}

#discover_more{
    position: absolute;
    top: 90px;
    right: 10px;
    width: 225px;
    z-index: 20;
    font-size: 1.6em;
}

#benefits_section{
    position: relative;
    padding: 50px 0px 20px 0px;
    overflow: auto;
}

#benefits_section #site_contain{
    text-align: left;
}

#benefits_section #site_contain h1{
    margin-bottom: 50px;
}

#ben_padding{
    padding: 20px;
}
#ben_padding h2{
    font-size: 1.2em;
    font-family: Monsterrat-Bold, arial, helvetica, sans-serif;
    font-weight: normal;
    margin: 0px 0px 20px 0px;
    padding: 0px;
}
#ben_padding p{
    color: #949494;
    font-family: Monsterrat-Light, arial, helvetica, sans-serif;
    line-height: 1.5em;
}

.fourth{
    float: left;
    width: 24%;
}

#ben_edu,#ben_staff,#ben_plans,#ben_students{
    text-align: center;
    padding-top: 100px;
    background-repeat: no-repeat;
    background-position: 50% 0px;
}
#ben_edu{background-image: url("../images/ben_grad.jpg");}
#ben_staff{background-image: url("../images/ben_dude.jpg");}
#ben_plans{background-image: url("../images/ben_list.jpg");}
#ben_students{background-image: url("../images/ben_girl.jpg");}

#success_wrapper{
    background-color: #efefef;
    position: relative;
    width: 100%;
    padding: 75px 0px 100px 0px;
}

#success_wrapper h1{
    background-position: 50% bottom !important;
}

#success_testimonal{
    background-color: #fff;
    padding: 50px 100px 50px 100px;
    background-image: url("../images/0success.jpg");
    background-repeat: no-repeat;
    background-position: right top;
}

#success_testimonal h2, #top_content h2{
    font-size: 1.2em;
    font-family: Monsterrat-Bold, arial, helvetica, sans-serif;
    font-weight: normal;
    margin: 0px 0px 20px 0px;
    padding: 0px;
    color: #000;
}

#success_testimonal p{
    color: #949494;
    font-family: Monsterrat-Light, arial, helvetica, sans-serif;
    line-height: 1.5em;
}

#footer_wrapper{
    position: relative;
    background-color: #cacaca;
    width: 100%;
    padding: 75px 0px 75px 0px;
}

#footer_wrapper #site_contain{
    height: 150px;
}

#foot_logo{
    position: relative;
    width: 160px;
    height: 93px;
    background-image: url("../images/logo_footer.png");
    background-repeat: no-repeat;
    cursor: pointer;
}

#copyright{
    padding: 20px 0px 20px 0px;
    color: #666;
}

#social_section{
    position: absolute;
    top: 25px;
    right: 0px;
    text-align: left;
    font-family: Monsterrat-Light, arial, helvetica, sans-serif;
}

#social_item{
    float: left;
    margin: 0px 0px 0px 40px;
    padding-left: 45px;
    cursor: pointer;
    background-repeat: no-repeat;
}

.sub_social{color: #666666;}

.social_adviser{text-align: right;}
.social_chat{
    background-image: url('../images/i_quote.png');
    margin-left: 5px !important;
}
.social_facebook{
    background-image: url('../images/i_facebook.png');
}
.social_twitter{
    background-image: url('../images/i_twitter.png');
}
.social_apply{
    background-image: url('../images/i_checkbox.png');
}
.social_campus{
    background-image: url('../images/i_country.png');
}

#interior_section{
    position: relative;
    line-height: 1.5em;
    width: 100%;
    font-family: Monsterrat-Light, arial, helvetica, sans-serif;
}

#top_content{
    width: 780px;
    position: relative;
    color: #a3a3a3;
    margin: 0px;
    padding: 50px 0px 20px 0px;
    overflow: auto;
}

#top_content h2{
    color: #000;

}

#our_mission, #our_ceo, #our_approval{
    position: relative;
    padding: 20px;
}

#our_mission h2, #our_ceo h2, #our_approval h2{
    background-repeat: no-repeat;
    text-indent: 50px;
    height: 40px;
    line-height: 40px;
}

#our_mission h2{
    background-image: url('../images/ben_target_sm.jpg');
}

#our_ceo h2{
    background-image: url('../images/ben_graph_sm.jpg');
}

#our_approval h2{
    background-image: url('../images/ben_grad_sm.jpg');
}

#our_info, #our_courses, #our_aid{
    background-repeat: no-repeat;
    background-position: center top;
    padding: 100px 0px 50px 0px;
}
#our_info, #our_courses{
    position: relative;
    width: 49%;
    float: left;
}
#our_info, #our_aid{
    text-align: center;
}
#our_aid{
    width: 90%;
    margin: 0px auto 0px auto;
    clear: both;
}
#our_courses h2{text-align: center !important;}
#our_info{
    background-image: url("../images/ben_house.jpg");
}
#our_courses{
    background-image: url("../images/ben_diploma.jpg");
}
#our_aid{
    background-image: url('../images/ben_student.jpg');
}

#why_section{
    position: relative;
    width: 100%;
    background-color: #efefef;
    padding: 50px 0px 50px 0px;
    overflow: auto;
}

#why_content{
    position: relative;
    width: 90%;
    padding: 20px;
    margin: 30px 0px 10px 0px;
    background-color: #fff;
    color: #a3a3a3;
    background-image: url('../images/0why.jpg');
    background-repeat: no-repeat;
    background-position: top right;
}

#why_content h3{
    color: #0382b8;
    font-size: 1.2em;
    font-family: Monsterrat-Bold, arial, helvetica, sans-serif;
    font-weight: normal;
}

#site_content_contain{
    position: relative;
    width: 775px;
    float: left;
    text-align: left;
    padding: 25px 0px 50px 0px;
}

#hero_banner{
    position: relative;
    margin: 25px 0px 25px 0px;
}
.hero_banner{
    width: 772px;
    border: 0px;
}

#site_sidebar{
    position: relative;
    margin: 400px 20px 0px 0px;
    width: 350px;
    float: right;
    text-align: left;
    z-index: 10;
}

#nav_menu-2{
    background-color: #f0f0f0;
    background-image: url('../images/0sidebar.jpg');
    background-repeat: no-repeat;
    background-position: top right;
    padding: 20px;
    margin: 0px 0px 30px 0px;
}

.xoxo{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.widget-title{
    font-family: Monsterrat-Light, arial, helvetica, sans-serif;
}

#menu-programs li{
    font-family: Monsterrat-Light, arial, helvetica, sans-serif;
    margin: 0px 0px 20px 0px;
}

#menu-programs .current-menu-item{
    display: none;
    color: #666;
}

#menu-programs li a:link{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
#menu-programs li a:hover{
    text-decoration: none;
    color: #666;
    font-weight: bold;
}
#menu-programs li a:visited{
    text-decoration: none;
    color: #444;
    font-weight: bold;
}

#sidebar_locations{
    padding: 0px 0px 20px 50px;
}
#location{
    margin: 0px 0px 25px 0px;
    color: #666;
}
#location b{
    color: #000;
}

.prog-menu{margin: 0px; padding: 0px;}

.prog-menu li{
    width: 372px;
    float: left;
    padding: 230px 0px 0px 0px;
    margin: 0px 10px 30px 0px !important;
    list-style: none;
}

.prog-menu .menu-item-78, .prog-menu .menu-item-82, .prog-menu .menu-item-80,.prog-menu .menu-item-79,.prog-menu .menu-item-83,.prog-menu .menu-item-81,.prog-menu .menu-item-77{
    background-repeat: no-repeat;
    background-position: top center;
}

.prog-menu .menu-item-78{
    background-image: url('../images/b_admin.jpg');
}
.prog-menu .menu-item-82{
    background-image: url('../images/b_cma.jpg');
}
.prog-menu .menu-item-80{
    background-image: url('../images/b_clinical_assist.jpg');
}
.prog-menu .menu-item-79{
    background-image: url('../images/b_comp.jpg');
}
.prog-menu .menu-item-83{
    background-image: url('../images/b_drug.jpg');
}
.prog-menu .menu-item-81{
    background-image: url('../images/b_mbc.jpg');
}
.prog-menu .menu-item-77{
     background-image: url('../images/b_pharm_tech.jpg');
 }

#clear{clear: both;}

.grey_back{background-color: #eaeaea; padding: 50px 0px 50px 0px;}

#site_thirds{
    position: relative;
    float: left;
    width: 33%;
    color: #777777;
}

#site_thirds h3{
    font-weight: normal;
    font-family: Monsterrat-Bold, arial, helvetica, sans-serif;
    color: black;
}

#site_thirds #padding{
    padding: 10px;
}

.prog_courses, .prog_schedule, .prog_financial {
    background-repeat: no-repeat;
    background-position: center 0px;
    padding: 100px 0px 0px 0px;
}

.prog_courses{
    background-image: url('../images/ben_diploma.jpg');
}
.prog_schedule{
    background-image: url('../images/ben_calandar.jpg');
}
.prog_financial{
    background-image: url('../images/ben_student.jpg');
}

.prog_courses ul {
    list-style-image: url('../images/bullet.jpg');
    text-align: left;
}
.prog_courses li{
    margin: 0px 0px 10px 0px;
}

.prog_schedule #discover_button{
    position: relative;
    color: #000;
    border: 2px solid #94cd17;
    padding: 15px;
    width: 150px;
    border-radius: 25px;
    cursor: pointer;
    margin: 0px auto 0px auto;
}

.testimonials_section{
    padding: 50px 0px 50px 0px;
}
.testimonials_section h1{
    background-position: 50% bottom !important;
}

.testimonials_section #success_testimonal{
    background-color: #f0f0f0 !important;
    background-image: url('../images/0sidebar.jpg');
    background-repeat: no-repeat;
    background-position: top right;
    padding: 20px;
    margin: 0px 0px 0px 0px;
}

#contact-row{
    position: relative;
    overflow: auto;
    width: 100%;
    margin: 0px 0px 20px 0px;
}

#contact-left{
    float: left;
    width: 470px;
    margin-right: 20px;
}
#contact-right{
    float: left;
    color: #000;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.5em;
}

.contact-side{

}

.contact-side ul {
    list-style-image: url('../images/bullet.png');
    text-align: left;
}

.contact-side li{
    margin: 0px 0px 10px 0px !important;
}

.contact-side li a{
    color: #777777 !important;
    font-weight: normal !important;
    font-size: 1em !important;
    line-height: 1em !important;
}

.student{
    background-color: #eaeaea;
    background-image: url('../images/0student.jpg');
    background-repeat: no-repeat;
    background-position: right bottom;
}
